#root {
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/bg.jpg');
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
}

